@keyframes slide-out {
  from {
    left: 100%;
  }
  to {
    left: 104.5%;
  }
}
.description-container {
  display: flex;
  justify-content: center;
}

.description {
  justify-content: center;
  font-size: 50px;
  margin-top: 20px;
}

.stats-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 75vh;
}

.stat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  align-items: left;
}

.p2stat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  align-items: right;
}

.health-text-container {
  gap: 1em;
}

.sp-text-container {
  gap: 1em;
}

button {
  cursor: pointer;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.button-container button {
  width: 300px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  padding: 10px;
}
.button-container button:hover {
  transform: scale(1.05);
}
.button-container button:active {
  transform: scale(1);
}

.health-bar-container {
  border-radius: 4px;
  height: 15px;
  background-color: lightgrey;
  width: 100px;
  max-width: 500px;
}

.health-bar {
  border-radius: 4px;
  height: 15px;
  background-color: limegreen;
  width: 100px;
  max-width: 500px;
  transition: width 0.5s;
}

.sp-bar-container {
  border-radius: 4px;
  height: 15px;
  background-color: lightgrey;
  width: 100px;
  max-width: 500px;
}

.sp-bar {
  border-radius: 4px;
  height: 15px;
  background-color: mediumorchid;
  width: 100px;
  max-width: 500px;
  transition: width 0.5s;
}

.flash-red {
  color: red;
  transition: color 0.2s ease-in;
}

.flash-green {
  color: limegreen;
  transition: color 0.2s ease-in;
}

.fighter-card {
  display: flex;
  flex-direction: column;
  min-height: 50px;
  height: fit-content;
  width: 200px;
  background-color: rgb(155, 153, 153);
  cursor: pointer;
  border-radius: 4px;
}

.fighter-info-container {
  display: flex;
  gap: 0.5em;
}
.fighter-info-container img {
  height: 20px;
  width: 20px;
  object-fit: cover;
}

.skills-container {
  display: flex;
  gap: 0.5em;
}

.fighters-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  overflow-y: auto;
  height: fit-content;
  width: 230px;
  background-color: darkgray;
  padding: 10px;
  position: absolute;
  animation: slide-out 0.3s;
  left: 104.5%;
}
.fighters-container button {
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.delete-button {
  align-items: right;
  cursor: pointer;
}

.skill-card {
  display: flex;
  flex-direction: column;
  min-height: 50px;
  height: fit-content;
  width: 200px;
  background-color: rgb(177, 144, 184);
  cursor: pointer;
  border-radius: 4px;
}

.skill-menu-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  overflow-y: auto;
  height: fit-content;
  width: 230px;
  background-color: darkgray;
  padding: 10px;
  position: absolute;
  animation: slide-out 0.3s;
  left: 104.5%;
}
.skill-menu-container button {
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.select-menu-container {
  display: flex;
  flex-direction: row;
}

.logged-in-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-top: 20px;
}
.logged-in-container .battle-button {
  background-color: hotpink;
  border: none;
  border-radius: 5px;
  padding: 7px;
}
.logged-in-container .logout-button {
  padding: 7px;
  border-radius: 5px;
  border: none;
  background-color: plum;
}

.welcome-text {
  text-align: center;
  margin-top: 100px;
}

.p1-container {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
  position: relative;
}

.p2-container {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
  position: relative;
}

.item-card {
  display: flex;
  flex-direction: column;
  min-height: 50px;
  height: fit-content;
  width: 200px;
  background-color: rgb(199, 192, 192);
  cursor: pointer;
  border-radius: 4px;
}

.item-menu {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  overflow-y: auto;
  height: fit-content;
  width: 230px;
  background-color: darkgray;
  padding: 10px;
  position: absolute;
  animation: slide-out 0.3s;
  left: 104.5%;
}
.item-menu button {
  border-radius: 10px;
  border: none;
  padding: 10px;
}

/*# sourceMappingURL=App.css.map */
